.list4-back {
    margin-bottom: 25px;
}
.list4-title {
    font-size: 2.5rem;
    color: #6d1633;
    margin-bottom: 25px;
    font-family: "YoungSerif";
}
.list4-text {
    font-size: 1.5rem;
    font-family: "Outfit-light";
    margin-bottom: 25px;
}


